@import "_config.scss";

.navbar {
    grid-area: nav;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__button {
        display: none;
    }

    &__elements {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__links {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1em;
            align-items: end;
            position: absolute;
            right: 2em;
            top: 5em;
            align-self: flex-end;
            border-radius: 10px;

            &__item {
                list-style: none;
                text-transform: uppercase;
                display: none;


                & a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $secondary-color;
                        text-decoration-thickness: 2px;
                    }

                    &:active {
                        text-decoration: underline;
                        text-decoration-color: $secondary-color;
                        text-decoration-thickness: 2px;
                    }
                }

                &__label {
                    list-style: none;
                }
            }
        }

        .logo {
            margin-right: auto;
            display: block;
            background-color: inherit;
            margin: 1em 0;
        }

        .navbar__label {
            cursor: pointer;
            height: fit-content;

            svg {
                fill: $text-color;
            }

            &__menu {
                margin-top: 0.2rem;
            }

            &__close {
                display: none;
            }
        }

        .label {
            display: block;
            top: auto;
        }


    }
}

#navbar__button:checked~.navbar__elements .navbar__elements__links .navbar__elements__links__item {
    display: block;
}

#navbar__button:checked~.navbar__elements .navbar__label .navbar__label__menu {
    display: none;
}

#navbar__button:checked~.navbar__elements .navbar__label .navbar__label__close {
    display: block;
}





.about {
    grid-area: pr;

    h2 {
        color: darken($text-color, 25);
        font-family: $headers_text;
        font-weight: 900;
        font-size: calc(2vw + 6px);
    }
}

// fine about

.photo {
    grid-area: ft;
    height: auto;

    img {
        max-width: 100%;
        height: auto;
    }
}

//fine photo


.history {
    grid-area: es;

    &__elements {
        display: grid;
        // grid-auto-flow: rows;
        gap: 3em;


        &__item {
            display: grid;
            grid-auto-flow: column;
            gap: 1em;
            grid-template-areas: 'm di'
                'a df';
            border: 2px solid $secondary-color;
            border-radius: 3px;
            align-items: center;
            box-shadow: $shadow;
            padding: 0.8em;

            &__job {
                grid-area: m;
                width: 45%;
            }

            &__text-sec {
                grid-area: a;
                width: 45%;
            }

            &__startDate {
                grid-area: di;
                justify-self: flex-end;
            }

            &__endDate {
                grid-area: df;
                justify-self: flex-end;
            }

        }

    }
}

//fine history



.skills {
    grid-area: sk;

    &__elements {

        &__item {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1em;
            margin-bottom: 3em;
        }
    }
}

//fine skills

.tools {
    grid-area: to;

    &__elements {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        gap: 4em;

        &__item {
            text-align: center;

            p {
                margin-bottom: 0.5em;
            }

            .bar {
                margin-top: 1em;
                border-radius: .3em;
            }

            .progress {
                height: .8em;
                border-radius: .3em;
            }
        }
    }
}

// fine tools

.contact-me {
    grid-area: cm;
    margin: 5em;
    text-align: center;

    .container {
        padding: 1.5em;
        background-color: lighten($bg-color, 5);
        border-radius: 10px;
    }

    h2 {
        font-size: calc(8vw + 6px);
        font-family: $headers_text;
        font-weight: 900;
        text-align: center;
        background-color: inherit;
    }

    &__elements {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;
        background-color: inherit;

        label {
            text-align: left;
            background-color: inherit;
            line-height: 2em;
            padding-top: .5em;
        }

        .form {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            text-align: left;
            background-color: inherit;
            gap: .5em;

            input {
                outline: none;
            }

            .column {
                display: flex;
                flex-direction: column;
                background-color: inherit;
            }

            .info {
                color: darken($secondary-color, 20);
                margin-top: 1.8em;
                background-color: inherit;
                font-size: .8em;
            }




            &__item {
                border-radius: 5px;
                border: 1px solid $secondary-color;
                background-color: inherit;
                width: 100%;
                padding: .5em;

                & textarea {
                    min-height: 200px;
                }

                &:focus {
                    outline: none;
                    box-shadow: $shadow;
                }

            }
        }

        .buttons {
            display: flex;
            background-color: inherit;
            justify-content: center
        }

        .contact-me__mail {
            @extend %contact-button;
            box-sizing: content-box;
            background-color: $bg-color;
            color: $secondary-color;
            border: $secondary-color;
            box-shadow: $shadow;
            cursor: pointer;
            width: 50%;

            &:hover {
                background-color: $secondary-color;
                color: $bg-color;
            }

        }


    }
}

//fine contact me

.footer {
    grid-area: fo;
    display: flex;
    align-items: center;
    margin: 5em 0 2em 0;

    &__elements {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1em;

        .logo {
            margin-right: auto;
            display: block;
        }

        &__item {
            list-style: none;

            & a {
                text-decoration: none;
                font-size: 1.2em;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $secondary-color;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}

//fine footer



//media queries

@media only screen and (min-width: 481px) and (max-width: 720px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'nav nav nav'
            'pr pr ft'
            'es es es'
            'sk sk sk'
            'to to to'
            'cm cm cm'
            'fo fo fo';
    }

    .history {


        &__elements {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(2, 1fr);
            gap: 3em;

            &__item {

                padding: 0.8em;
            }
        }
    }

    .tools {
        grid-area: to;

        &__elements {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: none;
            justify-content: space-between;
            gap: 1em;

            &__item {
                text-align: center;

                .bar {
                    margin-top: 1em;
                    border-radius: .3em;
                }

                .progress {
                    height: .8em;
                    border-radius: .3em;
                }
            }
        }
    }


}

// fine (min-width: 481px) and (max-width: 720px)



@media only screen and (min-width: 721px) {
    .navbar {

        &__label {
            display: none;
        }

        &__elements {
            &__links {
                flex-direction: row;
                position: static;
                justify-content: flex-end;
                align-items: center;




                &__item {
                    display: block;
                }

                .contact-me__button {
                    margin: 0;
                }
            }
        }
    }

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ' nav nav nav nav nav'
            'pr pr pr ft ft'
            'es es es sk sk'
            'to to to to to'
            'cm cm cm cm cm'
            'fo fo fo fo fo';
    }

    .tools {

        &__elements {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: none;
            justify-content: space-between;
            gap: 1em;

            &__item {
                text-align: center;

                .bar {
                    margin-top: 1em;
                    border-radius: .3em;
                }

                .progress {
                    height: .8em;
                    border-radius: .3em;
                }
            }
        }
    }

}