@import "_config.scss";

// tablet 641 - 1007 px
// pc 1008 px e su

@media only screen and (min-width: 481px) and (max-width: 720px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "nav" "nav" "nav"
            "ft" "pr" "pr"
            "es" "es" "es"
            "sk" "sk" "sk"
            "to" "to" "to"
            "cm" "cm" "cm"
            "fo" "fo" "fo";
    }
}

@media only screen and (min-width: 721px) {
    .navbar {
        &__label {
            display: none;
        }

        &__elementi {
            justify-content: flex-end;
            flex-direction: row;

            &__item {
                display: block;
            }
        }
    }

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "nav" "nav" "nav"
            "pr" "pr" "pr" "ft" "ft"
            "es" "es" "sk" "sk" "sk"
            "to" "to" "to"
            "cm" "cm" "cm"
            "fo" "fo" "fo";
    }
}