@import "_config.scss";



.navbar {
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;

    &__button {
        display: none;
    }

    &__label {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        right: 0;

        svg {
            width: 1.5rem;
            fill: $text-color;
        }

        &__close {
            display: none;
        }

        &__menu {
            margin-top: 0.2rem;
        }
    }



    &__elementi {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        padding: 1em;

        .logo {
            margin-right: auto;
            display: block;
        }

        .contact-me__button {
            padding: .1em .3em;
        }

        &__item {
            list-style: none;
            text-transform: uppercase;
            display: none;

            & a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $secondary-color;
                    text-decoration-thickness: 2px;
                }

                &:active {
                    text-decoration: underline;
                    text-decoration-color: $secondary-color;
                    text-decoration-thickness: 2px;
                }
            }
        }

    }
}

#navbar__button:checked~.navbar__elementi .navbar__elementi__item {
    display: block;
}

#navbar__button:checked~.navbar__label .navbar__label__menu {
    display: none;
}

#navbar__button:checked~.navbar__label .navbar__label__close {
    display: block;
}



.presentazione {
    grid-area: pr;
    // background-color: antiquewhite;

    h2 {
        color: darken($text-color, 25);
        font-family: "poppins";
        font-weight: 900;
        font-size: calc(2vw + 6px);
    }
}

// fine presentazione

.foto {
    grid-area: ft;
    height: auto;

    img {
        max-width: 100%;
        height: auto;
    }
}

//fine foto


.esperienze {
    grid-area: es;

    &__elementi {
        display: grid;
        grid-auto-flow: rows;
        gap: 3em;


        &__item {
            display: grid;
            grid-auto-flow: column;
            gap: 1em;
            grid-template-areas: 'm di'
                'a df';
            border: 2px solid $secondary-color;
            border-radius: 3px;
            align-items: center;
            box-shadow: $luminescenza;
            padding: 0.8em;

            &__mansione {
                grid-area: m;
                width: 45%;
            }

            &__text-sec {
                grid-area: a;
                width: 45%;
            }

            &__dataIn {
                grid-area: di;
                justify-self: flex-end;
            }

            &__dataFin {
                grid-area: df;
                justify-self: flex-end;
            }

        }

    }
}



.skills {
    grid-area: sk;

    &__elementi {

        &__item {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1em;
            margin-bottom: 3em;
        }
    }
}

.tools {
    grid-area: to;

    &__elementi {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        gap: 4em;

        &__item {
            text-align: center;

            p {
                margin-bottom: 0.5em;
            }

            .barra {
                margin-top: 1em;
                border-radius: .3em;
            }

            .progressi {
                height: .8em;
                border-radius: .3em;
            }
        }
    }
}

.contact-me {
    grid-area: cm;
    margin: 5em auto;
    text-align: center;

    h2 {
        font-size: calc(8vw + 6px);
        font-family: "poppins";
        font-weight: 900;
        text-align: center;
    }

    &__elementi {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;



        .contact-me__mail {
            @extend %contact-button;
            background-color: $bg-color;
            color: $secondary-color;
            border: $secondary-color;
            box-shadow: $luminescenza;

        }
    }
}

.footer {
    grid-area: fo;

    margin: 5em 0 2em 0;

    &__elementi {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1em;

        .logo {
            margin-right: auto;
            display: block;
        }

        &__item {
            list-style: none;

            & a {
                text-decoration: none;
                font-size: 1.2em;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $secondary-color;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}



//media queries

@media only screen and (min-width: 481px) and (max-width: 720px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'nav nav nav'
            'pr pr ft'
            'es es es'
            'sk sk sk'
            'to to to'
            'cm cm cm'
            'fo fo fo';
    }

    .esperienze {


        &__elementi {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(2, 1fr);
            gap: 3em;

            &__item {

                padding: 0.8em;
            }
        }
    }

    .tools {
        grid-area: to;

        &__elementi {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: none;
            justify-content: space-between;
            gap: 1em;

            &__item {
                text-align: center;

                .barra {
                    margin-top: 1em;
                    border-radius: .3em;
                }

                .progressi {
                    height: .8em;
                    border-radius: .3em;
                }
            }
        }
    }

    .contact-me {
        text-align: center;

        &__elementi {
            justify-content: space-around;
            flex-direction: row;

        }
    }
}



@media only screen and (min-width: 721px) {
    .navbar {
        &__label {
            display: none;
        }

        &__elementi {
            flex-direction: row;
            justify-content: flex-end;

            &__item {
                display: block;
            }
        }
    }

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: ' nav nav nav nav nav'
            'pr pr pr ft ft'
            'es es es sk sk'
            'to to to to to'
            'cm cm cm cm cm'
            'fo fo fo fo fo';
    }

    .tools {

        &__elementi {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: none;
            justify-content: space-between;
            gap: 1em;

            &__item {
                text-align: center;

                .barra {
                    margin-top: 1em;
                    border-radius: .3em;
                }

                .progressi {
                    height: .8em;
                    border-radius: .3em;
                }
            }
        }
    }

    .contact-me {
        text-align: center;

        &__elementi {

            flex-direction: row;
            justify-content: space-around;
        }
    }

}